body{
  padding-top: 25px;
  padding-left: 500px;
}

.start{
  background-color: #bcb1ab;
  border: 4px;
  padding: 30px;
  color: inherit;
}

#end{
  background-color: #bcb1ab;
  border: 4px;
  padding: 30px;
  color: inherit;
}
